<form class="form-horizontal" {{action "authenticate" on="submit"}}>
  {{#mdl-card title='Welcome' class='login-card-wide mdl-shadow--2dp center'}}
    <div class="mdl-card__supporting-text">
      {{mdl-textfield value=namespace id='namespace' label='Namespace'}}
      {{mdl-textfield value=collection id='collection' label='Collection'}}
      {{mdl-textfield value=username id='username' label='Username'}}
      {{mdl-textfield value=password id='password' label='Password' type='password'}}
    </div>
    {{#mdl-card-actions}}
      {{#mdl-button action='authenticate'}}
        Login
      {{/mdl-button}}
    {{/mdl-card-actions}}
  {{/mdl-card}}
</form>
