<br>
<div class="row">
  <div class="col-md-3" style="padding-right: 0px;">

    <div class="mdl-card mdl-shadow--2dp" style="width: 100%;">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Search &nbsp;<small>({{results}})</small></h2>
      </div>

      <div class="list-group">
        {{#each-in filter as |k v|}}
          <a class="list-group-item">
            {{mdl-button icon='clear' click=(action 'removeFilter' k)}}
            {{k}}
            <i>{{truncate v 30}}</i>
          </a>
        {{/each-in}}
      </div>

      <div class="mdl-card__menu">
        {{mdl-button icon='keyboard_arrow_left' click=(action 'paginate' -1)}}
        {{page}}
        {{mdl-button icon='keyboard_arrow_right' click=(action 'paginate' 1)}}
      </div>
    </div>

  </div>
  <div class="col-md-9">
    {{#if trials.isPending}}
      <br>
      {{mdl-spinner}}
    {{else}}
      <table class="mdl-data-table  mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th></th>
            {{#each keyNames as |key|}}
              <th class="mdl-data-table__cell--non-numeric">{{key}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each trials.content as |trial|}}
            {{table-cell data=trial keyNames=keyNames link=(action 'link') filter=(action 'filter')}}
          {{/each}}
        </tbody>
      </table>
    {{/if}}

  </div>
</div>
{{outlet}}
