<table>
  <thead>
    <tr>
      <th>
        Brief Title
      </th>
      <th>
        Created By
      </th>
      <th>
        Created On
      </th>
      <th>
        Country
      </th>
      <th>
        Log Ref
      </th>
      <th>
        Trial Data
      </th>
      <th>
        Ref
      </th>
      <th>
        Modified By
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |trial|}}
    <tr>
      <td>
        {{ trial.attributes.brief_title }}
      </td>
      <td>
        {{ trial.attributes.brief_summary }}
      </td>
      <td>
        <ul>
          {{#each trial.attributes.conditions as |condition|}}
          <li>{{ condition}}</li>
          {{/each}}
        </ul>
      </td>
      <td>
        <ul>
          {{#each trial.attributes.location_countries as |country|}}
            <li>
              {{ country }}
            </li>
          {{/each}}
        </ul>
      </td>
      <td>
        {{ trial.logRef }}
      </td>
      <td>
        {{ trial.thingData }}
      </td>
      <td>
        {{ trial.ref }}
      </td>
      <td>
        {{ trial.modifiedBy }}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
